<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CarCompany"> 
    <!-- 검색 -->
	<select id="CarCompany/Search" parameterType="Map" resultType="Map">
        SELECT * 
        FROM factorys
        WHERE 1 = 1 
        <choose>
            <when test="search == 'NAME' ">
                and COMPANY like CONCAT('%', #{words}, '%')
            </when>
            <otherwise>
                and COMPANY_ID like CONCAT('%', #{words}, '%')
            </otherwise>
        </choose>
	</select>

    <!-- 전체 -->
	<select id="CarCompany/SearchAll" parameterType="Map" resultType="Map">
        SELECT * 
        FROM factorys
        WHERE 1 = 1 
	</select>

    <!-- 상세 -->
	<select id="CarCompany/selectDetail" parameterType="Map" resultType="Map">
        SELECT * 
        FROM factorys
        WHERE COMPANY_ID = #{COMPANY_ID}
	</select>

    <!-- 입력 -->
    <insert id="CarCompany/insert" parameterType="Map">
        INSERT INTO factorys
        (COMPANY, COMPANY_ID)
        values
        (#{COMPANY}, #{COMPANY_ID})
    </insert>

    <!-- 수정 -->
    <update id="CarCompany/update" parameterType="Map">
        UPDATE factorys
        SET COMPANY = #{COMPANY}
        WHERE COMPANY_ID = #{COMPANY_ID}
    </update>

    <!-- 삭제 -->
    <delete id="CarCompany/delete" parameterType="Map">
        DELETE FROM factorys
        WHERE COMPANY_ID = #{COMPANY_ID}
    </delete>
</mapper>